# Compilados e saída do Maven
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.settings/
.classpath
.project
bin/

# VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db